
Human Training/Data Management/HugoHR.CSV
Models/FeedForwardNN-Epoch16.h5
Models/FeedForwardNN-Epoch17.h5
Human Training/Data Management/preprocessed_data_HR.csv
Human Training/Data Management/split_data.csv
Human Training/Data Management/cleaned_data_HR.csv
